/** GLOBAL STYLES **/
* {box-sizing:border-box; padding:0; margin:0;}
html, body {height:100%; display:grid;}
body {font:16px Helvetica, Arial, sans-serif; color:#111; background-color:#111;}
ul, li {list-style:none;}

.clearfix:after { content:""; clear:both; display:table; }

.page {max-width:100%; margin:auto; overflow:hidden;}

.thumbnails {width:100%; max-width:1040px; margin:0 auto; display:flex; justify-content: space-between; flex-flow: row wrap;}
.thumbnail {width:24%; height:250px; background-color:#ccc; margin-bottom:15px; overflow:hidden;}
.thumbnail img {height:100%; cursor:pointer; display:block;}

#overlay {width:100%; background-color:rgba(0,0,0,0.8); height:100%; position:fixed; top:0; left:0; display:none; }

	#modal {max-width:1080px; width:85%; position:relative; top:50%; left:50%; transform: translate(-50%, -50%); opacity:0; transition:all .25s ease; }
	#modal > img {width:100%; display:block;}
	.show #modal {opacity:1;}

	.title {background-color:#000; color:#fff; padding:15px 20px;}

#closeBtn {position:absolute; top:-10px; right:-10px; cursor:pointer; background-color:#111; width:36px; height:36px; border-radius:50px; text-align:center; line-height:35px; font-size:20px; border:1px solid #fff; color:#fff;}
#closeBtn:hover {background-color:#444;}

.arrow {font-size:40px; position:absolute; top:50%; margin-top:-75px; background-color:#fff; opacity:0.2; cursor:pointer;padding:0 10px 0 10px; height:100px; line-height:100px;}
#prevBtn {left:-40px; transition:all .25s ease;}
#prevBtn:hover {left:-55px; opacity:0.5; padding-right:25px;}

#nextBtn {right:-41px; transition:all .25s ease;}
#nextBtn:hover {right:-56px; opacity:0.5; padding-left:25px;}

@media (max-width: 1100px) {
	.thumbnails {width:95%; margin-top:5%;}
	.thumbnail {width:32%;}
}

@media (max-width: 780px) {
	.thumbnails {width:95%; margin-top:5%;}
	.thumbnail {width:49%;}
}

@media (max-width: 720px) {
	#modal {width:95%}
	#prevBtn {left:0;}
	#prevBtn:hover {left:0; padding-right:10px;}
	#nextBtn {right:0; }
	#nextBtn:hover {right:0; padding-left:10px;}
}

@media (max-width: 550px) {
	.thumbnails {display:block;}
	.thumbnail {width:90%; margin-right:auto; margin-left:auto; height:auto;}
	.thumbnail img {width:100%; height:auto;}
}

